# Игнорировать папку с бинарниками провайдеров
.terraform/

# Игнорировать файлы состояния (содержат секреты!)
*.tfstate
*.tfstate.*

# Игнорировать файл с секретными переменными
*.tfvars
*.tfvars.json

# Игнорировать временные файлы и логи
.terraform.lock.hcl
*.log
